<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>" data-default-lang="<%= I18n.default_locale %>">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title><%= content_for?(:title) ? yield(:title) : Settings.application.name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js' type='text/javascript'></script>
    <![endif]-->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id='root'></div>

    <%= navbar %>

    <div class="<%= layout_class %>">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>

  <%= footer %>

  <%= yield :javascript %>
</html>
